.footer {
  flex-shrink: 0;
  background-color: #f0f1ff;
  border-top: 1px solid #e5e7eb;
  padding: 10px 32px;
  font-size: 12px;
  color: #545454;
  z-index: 900;
}
.footer .footer-content {
  margin: 0 auto;
}
.footer .footer-copyright {
  text-align: center;
}
@media (max-width: 768px) {
  .footer .footer-content {
    flex-direction: column;
    text-align: center;
  }
}
